@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: General styles */
.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

.Hybrid-Field{
  @apply bg-transparent flex-1 flex-nowrap flex justify-center w-full bg-opacity-20 px-1 md:px-4 py-2 text-xs md:text-sm font-medium text-black
  hover:bg-opacity-30 focus:outline-none focus-visible:ring-2 focus:ring-amber-600 focus:ring-opacity-75 text-center
}


/* END: search manufacturer styles */

/* START: components defs */

.product__edit{
  @apply grid grid-cols-8 border-2 border-orange-200 rounded-md;
}

.product__edit :first-child{
  @apply align-middle p-1 pl-2 text-opacity-90 font-semibold text-justify col-span-2
}
.product__edit :nth-child(2){
  @apply align-middle p-1 pl-2 text-opacity-90 font-semibold text-justify col-span-1 
}

.product__edit__input{
  @apply col-span-5 focus:outline-amber-500 rounded-sm p-1 pl-2 shadow-sm text-opacity-90 text-amber-700 font-medium text-center;
}

.recipe__edit{
  @apply grid grid-cols-8 border-2 border-indigo-200 rounded-md;
}

.recipe__edit :first-child{
  @apply align-middle p-1 pl-2 text-opacity-90 font-semibold text-justify col-span-2
}
.recipe__edit :nth-child(2){
  @apply align-middle p-1 pl-2 text-opacity-90 font-semibold text-justify col-span-1 
}

.recipe__edit__input{
  @apply col-span-5 focus:outline-sky-500 rounded-sm p-1 pl-2 shadow-sm text-opacity-90 text-blue-700 font-medium text-center;
}


/* END: components defs */


/* START: some basic defs */

.border-groove {
  border-style: groove;
}

.unselectable {
  user-select: none;
}

.text-transition {
  transition: color 1s, font-size 1s;
}

.text-transition:hover {
  color: #f0f0f0; /* Kolor jasniejszy */
  font-size: 1.2em; /* 20% większy font */
}

/* END: some basic defs */

/* START: Animation defs */
.animate-pulsing
{
  animation-name: pulsing;
  animation-duration: 900ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes pulsing {
  from {color: rgb(94, 61, 0);}
  to {color: black;}
}

/* End: Animation defs */

.windows-style-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #d1d5db;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis-active span::after {
  content: '...';
}

.z-9999
{
  z-index: 9999;
}

textarea:focus, input:focus{
  outline-color: slategray;
}
